extends layout

block content
  if user
    div(class='row justify-content-center')
      form(class='col-md-6 row' method='POST' action='/')
        div(class='col-10')
          input(class='form-control' type='text' name='comment' placeholder='Write something interesting...' required)
        button(class='btn btn-sm btn-success col-2' type='submit') Post
    hr

  div(class='row' data-masonry='{ "percentPosition": true }')
    if comments
      for comment in comments
        div(class='col-sm-6 col-lg-4 mb-4')
          div(class='card')
            div(class='card-body')
              p(class='card-text')= comment.content
              div(class='card-text d-flex justify-content-between')
                small Posted #{moment(comment.date).fromNow()}
                if user && user.rank !== 0
                  small By #{comment.author}
